* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}
input {
  border: none;
  border: solid 1px black;
  background: transparent;
}
button {
  border: none;
  background: none;
  margin-left: 4rem;
  padding: 1rem 2rem;
  border: 2px solid rgb(94, 94, 138);
  background: rgb(94, 94, 138);
  color: white;
  border-radius: 2rem;
  font-size: 1.4rem;
  font-weight: 400;
}
